.s2{
    height: 1000px;
}

.contenedor2 {
    display: subgrid;
    height: 100%;
    width: 100%;
}

.texto{
    width: 60%;
    height: 20%;
  /* centrar vertical y horizontalmente */
    margin: 60px 100px;
}

.marcas-vacunas{
    height: 15%;
    border-color: #1fd1f9;
    border-style: solid;
}

.texto h1{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #134C8D;
    font-size: 30px;
}

.texto p{
    text-align:justify;
    font-size: 18px;
    color: rgba(124, 135, 136, 0.884);
}

.contenedor-benefits{
    display: flex;
    width: 85%;
    height: 35%;
    margin: 60px 100px;
    
}


.cuadro1{
    margin: 0 auto; /*espacio entre div*/
    width: 20%;
    height: 100%;
}


.cuadro1 h3{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #134C8D;
    font-size: 20px;
    padding: 0px 20px;
}

.cuadro1 p{
    text-align:justify;
    font-size: 17px;
    color: rgba(124, 135, 136, 0.884);
    padding: 0px 20px;
}

.cuadro2{
    margin: 0 auto; /*espacio entre div*/
    width: 22%;
    height: 100%;
    box-shadow: 0px 27px 43px 0px rgba(219, 221, 221, 0.884);
}


.cuadro2 h3{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #134C8D;
    font-size: 20px;
    padding: 0px 20px;
}

.cuadro2 p{
    text-align:justify;
    font-size: 17px;
    color: rgba(124, 135, 136, 0.884);
    padding: 0px 20px;
}


i {
    margin: 10px 30px;
    color: #075ec2;
    font-size: 25px;
}

